@model IEnumerable<ReversiMvcApp.Models.Speler>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Best Reversi App In The Whole Wide World</h1>
</div>

